DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
OPENAI_API_KEY=sk-xxxx
OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
CHROMA_PERSIST_DIR=.chroma

DATABASE_URL=postgres://hiremind:hiremind@localhost:5432/hiremind
POSTGRES_DB=hiremind
POSTGRES_USER=hiremind
POSTGRES_PASSWORD=hiremind

